<script src="http://jwpsrv.com/library/WZvVNnv8EeSd7g6sC0aurw.js"></script>

<div id='srklqi'></div>
<script>
    jwplayer('srklqi').setup({
        file: 'http://labtivimedia.streaming.mediaservices.windows.net/3edaa71a-a0e9-4817-9455-3bffbb016426/1ec56cd1-b1a5-47f6-815f-ed6bf769e565.ism/manifest(format=m3u8-aapl-v3)',
        image: 'http://video.ch9.ms/ch9/6444/cf94e114-a959-4317-a22b-c00024d06444/AzureMediaServicesPlatformPromo_960.jpg',
        type: 'm3u8',
        androidhls: 'true',
        width: '480',
        height: '270'
    });
</script>